# ── Commands ──────────────────────────────────────────────────────────────────
add_ace group.admin command allow
add_ace resource.qbx_core command allow
add_ace resource.ox_lib command.add_ace allow
add_ace resource.ox_lib command.remove_ace allow
add_ace resource.ox_lib command.add_principal allow
add_ace resource.ox_lib command.remove_principal allow
add_ace resource.pug-adminmenu command allow
add_ace resource.leap command.refresh allow
add_ace resource.leap fs.write allow

# ── Resource Permissions ──────────────────────────────────────────────────────
add_ace group.admin lation_shops.admin allow

# ── ACE Groups ────────────────────────────────────────────────────────────────
add_ace group.admin admin allow
add_ace group.mod mod allow
add_ace group.support support allow

# ── Group Inheritance ─────────────────────────────────────────────────────────
add_principal group.admin group.mod
add_principal group.mod group.support

# ── Pug Admin Menu ────────────────────────────────────────────────────────────
set admin_menu_god "identifier.fivem:7140163" # JJ
# set admin_menu_god "identifier.fivem:5702888" # Javier
