exec secrets.cfg

# ── Server Info ───────────────────────────────────────────────────────────────
endpoint_add_tcp "0.0.0.0:30119"
endpoint_add_udp "0.0.0.0:30119"
sv_maxclients 5
sv_hostname "NiteLife Roleplay"
sets sv_projectName "NiteLife"
sets sv_projectDesc "Serious & Immersive Roleplay for all to enjoy!"
sets locale "en-US"
sets tags "qbox, nitelife, serious, roleplay"
load_server_icon myLogo.png

# ── Game Config ───────────────────────────────────────────────────────────────
set sv_enforceGameBuild 3258
setr game_enableDynamicDoorCreation "true"
setr sv_showBusySpinnerOnLoadingScreen false

# ── Chat ──────────────────────────────────────────────────────────────────────
set resources_useSystemChat true
set qbx_chat:joinMessage ""
set qbx_chat:quitMessage ""

# ── Voice ─────────────────────────────────────────────────────────────────────
exec voice.cfg

# ── Qbox ──────────────────────────────────────────────────────────────────────
setr qb_locale "en"
setr qbx:enableBridge "true"
set qbx:enableQueue "true"
set qbx:bucketLockdownMode "inactive"
set qbx:discordLink ""
set qbx:max_jobs_per_player 3
set qbx:max_gangs_per_player 1
set qbx:setjob_replaces "true"
set qbx:setgang_replaces "true"
set qbx:cleanPlayerGroups "true"
set qbx:allowMethodOverrides "true"
set qbx:disableOverrideWarning "false"
setr qbx:enableVehiclePersistence "false"
setr qbx:vehiclePersistenceType "semi"
set qbx:acknowledge "true"
setr qbx:enableGroupManagement "false"
setr qbx:motd ""

# ── Ox Resources ──────────────────────────────────────────────────────────────
exec ox.cfg

# ── Loadscreen ────────────────────────────────────────────────────────────────
exec loadscreen.cfg

# ── Weather ───────────────────────────────────────────────────────────────────
setr weather_disablecd true

# ── Resources ─────────────────────────────────────────────────────────────────
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
stop basic-gamemode
ensure hardcap
ensure baseevents

ensure lation_ui
ensure ox_lib
ensure qbx_core
ensure ox_target
ensure [ox]
ensure [sd]
ensure nt_sqloptimizer
ensure [fuel]
ensure [qbx]
ensure [standalone]
ensure [voice]
ensure [assets]
ensure [lation]
ensure [jg]
ensure kq_link
ensure kq_shellbuilder_props
ensure kq_shellbuilder
ensure kq_propplacer
ensure [properties]
ensure object_gizmo
ensure [tools]
ensure nt_character
ensure nt_spawn
ensure nt_appearance
ensure lb-phone
ensure [phone]
ensure [nt]
ensure [pug]
ensure [okok]

# ── Permissions ───────────────────────────────────────────────────────────────
add_principal identifier.fivem:7140163 group.admin # JJ
add_principal identifier.fivem:5702888 group.admin # Javier
exec permissions.cfg
