.container {
  width: 80%;
}
.header {
  font-family: "Gilroy-Bold", sans-serif;
  border: solid 1px rgba(43, 48, 59, 0.75);
  border-radius: 4px;
}

.reputation {
  background-color: rgba(82, 88, 102, 0.1);
}
