@media (max-height: 900px) and (min-height: 701px) {
  .scroll {
    height: calc(95vh - 130px);
  }
}

@media (max-height: 700px) {
  .scroll {
    height: calc(80vh - 130px);
  }
}

@media (min-height: 901px) {
  .scroll {
    height: calc(95vh - 130px);
  }
}

.tbody {
  background-color: var(--bg-sidebar);
  border: solid 1px var(--border);
}

.th {
  padding: 0;
  background-color: var(--bg-main);
  font-family: var(--font-display);
  text-transform: uppercase;
}

.td {
  background-color: var(--bg-card);
}

.tr {
  border: solid 1px var(--border);
  border-radius: 8px;
}
