.card {
  background: var(--bg-card); /* */
  border: 1px solid var(--border); /* */
  border-radius: 8px;
}

.input {
  background-color: var(--bg-input); /* */
  border: 1px solid var(--border);
  color: var(--text-main);
}

.dropdown {
  background-color: var(--bg-sidebar); /* */
  border: 1px solid var(--border);
}

@media (max-height: 900px) and (min-height: 701px) {
  .scroll {
    height: calc(92vh - 200px);
  }
}

@media (max-height: 700px) {
  .scroll {
    height: calc(70vh - 100px);
  }
}

@media (min-height: 901px) {
  .scroll {
    height: calc(95vh - 200px);
  }
}
